*.log
npm-debug.log*

# Dependency directories
node_modules

# configs
package-lock.json
yarn.lock
yarn-error.log
tsconfig.js
jestconfig.json
.yarnrc
.env

# project files
src
__tests__
.gitignore
tslint.json
.prettierrc